<div class="wrapper">
    <div class="wrapper__header">
        <app-filter-messages (filter)="onInputFilter($event)"></app-filter-messages>
    </div>

    <div class=" wrapper__body" #scrollMe (scroll)="onScroll($event)">
        <div class="wrapper__body--blur" [ngClass]="showBlurContainer == true  ? '' : 'hide'"></div>
        <app-message-list [messages]=messaggesList></app-message-list>
    </div>

    <div class="wrapper__footer">
        <app-message-create (onMessageAdd)="onMessageAdd($event)"></app-message-create>
    </div>
</div>