@import "../../../../../scss/variables";

.filter-messages {
    padding: 1rem;
    background: $primary;
    &__input{
        width: 100%;
        border-radius: 5px;
        border: 1px solid #ddd;
        padding: 1rem;
      }

}