$default-font-size: 1.6rem;
$default-line-height: 1.5;


$primary: #D3135A;
$black: #0E141A;
$light-grey: #EFF2F7; 
$dark-grey: #C2CDDD;

$text-grey: #667790;

$scrollbar-track : #0E141A1A;
$scrollbar-thumb : #667790;

$max-width: 1200px;
$min-width: 375px;


$background-chatbox-light:#EFF2F7;
